.profile {
  margin: 40px auto 51px;
  padding: 0;
  max-width: 880px;
  display: flex;
}

@media screen and (width < 1023px) {
  .profile {
    max-width: 600px;
  }
}

@media screen and (width < 767px) {
  .profile {
    max-width: 282px;
    height: 286px;
    flex-direction: column;
    margin: 42px auto 36px;
  }
}