.profile__add-buttom {
  margin: 0 0 0 auto;
  padding: 0;
  width: 150px;
  height: 50px;
  background-image: url('../../../images/addbutton.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  align-self: center;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
}

.profile__add-buttom:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (width < 1023px) {
  .profile__add-buttom {
    width: 100px;
    height: 33px;
  }
}

@media screen and (width < 767px) {
  .profile__add-buttom {
    margin: 36px 0 0;
    width: 100%;
    height: 50px;
  }
}