.profile__edit-buttom {
  margin: 15px 0 0 18px;
  padding: 0;
  width: 24px;
  height: 24px;
  background-image: url('../../../images/edit-button.png');
  background-size: contain;
}

.profile__edit-buttom:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (width < 767px) {
  .profile__edit-buttom {
    margin: 8px 0 0 10px;
    width: 18px;
    height: 18px;
  }
}